<launch>
  <include file="$(find pimouse_ros)/launch/pimouse.launch" />

  <node pkg="rosbag" name="palyer" type="play" output="screen" args="/home/pi/2019-01-14-09-35-39.bag" required="true" />
 
  <node pkg="mjpeg_server" name="mjpeg_server" type="mjpeg_server" >
    <param name="port" value="10000" />
  </node>

  <node pkg="pimouse_vision_controll" name="vision_controll_launch" type="face_to_face.py" output="screen" />
</launch>
